{% extends 'master_admin.html' %}
{% load static %}


     {% block mainblock %}
<div class="wrapper">
    <div class="text-center mt-4 name"> autor </div>
    <form action="{%url 'add_autor' %}" method="post" class="p-3 mt-3">
        {% csrf_token %}
        <div class="form-field d-flex align-items-center">
            <span class="far fa-user"></span>
            <input type="text" name="imie" id="imie" placeholder="imie">
        </div>
        <div class="form-field d-flex align-items-center">
            <span class="fas fa-key"></span>
            <input type="text" name="nazwisko" id="nazwisko" placeholder="nazwisko">
        </div>
        
        <button class="btn mt-3">add</button>
    </form>
</div>


 {% endblock %}