{% extends 'master_admin.html' %}

{% load static %}


{% block mainblock %}
<div class="wrapper">
    <div class="text-center mt-4 name"> book </div>
    <form action="{%url 'delete_book' %}" method="post" class="p-3 mt-3">
        {% csrf_token %}

        <div class="form-field d-flex align-items-center">
            <span class="fas fa-key"></span>
            <input type="number" name="book_id" id="book_id" placeholder="book_id">
        </div>


        <button class="btn mt-3">delete</button>
    </form>
</div>


{% endblock %}