{% load static %}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{%static 'login.css' %}">
</head>
<body>

<div class="wrapper">
    <div class="text-center mt-4 name"> Library </div>
    <form action="{%url 'login' %}" method="post" class="p-3 mt-3">
        {% csrf_token %}
        <div class="form-field d-flex align-items-center">
            <span class="far fa-user"></span>
            <input type="text" name="email" id="email" placeholder="Username">
        </div>
        <div class="form-field d-flex align-items-center">
            <span class="fas fa-key"></span>
            <input type="password" name="password" id="pwd" placeholder="Password">
        </div>
        <button class="btn mt-3">Login</button>
    </form>
    <br>
    {% if error_login %}
    <span style="color: red"><b>Blad podczas logowania:</b></span>
    <br>
    <span style="color: red"><b>podano nieprawidlowy login lub haslo </b></span>

        
    {% endif %}


</div>
</body>
</html>

